<%- include('partials/header'); -%>





<h1>Edit User</h1>
<form action="/goedit/<%= a.id %>" method="post">
  <div class="mb-3">
    <label for="titlePost" class="form-label">Username</label>
    <input class="form-control" type="text" name="username" value="<%= a.username %>"/>
  </div>
  <div class="mb-3">
    <label for="postBody" class="form-label">Password</label>
    <input class="form-control" type="text" name="password" value="<%= a.password %>" />
    <br />
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Update</button>
  </div>
</form>









<%- include('partials/footer'); -%>